n8n.tungnguyenai.com {
    reverse_proxy n8n:5678 {
      flush_interval -1
    }
}

qdrant.tungnguyenai.com {
  # TLS configuration for Qdrant
  tls /qdrant/config/cert.pem /qdrant/config/key.pem

  # Reverse proxy for Qdrant
  reverse_proxy 165.22.60.8:6334
}
